*{margin:0;padding:0;}
body{
    max-width:1140px;
    margin:0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
h1,h2{
    font-family:  "Noto Serif", serif;
    font-weight: 700;
}
p,a{
    font-family: "Inter", sans-serif;
}
.bold{
    font-weight: bold;
}
main section{
    margin-top:125px;
}
.text-orange{
    color:#E95A08;
}

/* navbar styles  */
.navbar{
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}
.navbar ul{
    display: flex;
    align-items:center;
}
.navbar li{
    list-style-type: none;
    padding:5px 15px;
}
.navbar li a{
    text-decoration: none;
    color:#8987A1;
}
.navbar li a img{
    width: 20px;
}

/* header banner styles  */
.header-banner-container{
    display: flex;
    margin-top:120px;
}
.header-banner-content{
    padding-top:162px;
    max-width:570px;
}
.header-banner-container img{
    max-width: 570px;
}
.header-title{
    font-size:4rem;
}

/* products Styles */
.products{
    text-align:center;
}
.products h2{
    font-size: 3.1rem;
}
.products-des{
    font-size:1.4rem;
    color:rgba(0, 0, 0, 0.5);
    margin-bottom:20px;
}
.plants-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
.plants-name{
    font-weight: 500;
    font-size:22px;
    margin-top:10px;
}
.plants-price{
    font-weight: 700;
    font-size:22px;
    margin-bottom:20px;
    margin-top:10px;
}
.plants-container button{
    width:100%;
    padding:20px 0;
    font-size:16px;
    font-weight: 600;
    background-color:#E95A08;
    border:none;
    color: #fff;
}

/* plants lover section styles */
.plants-lover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:130px;
}
.lover-imgs{
    position: relative;
}
.badge{
    width:287px;
    position:absolute; 
    right:-130px;
    top:-130px;
}
.store-img{
    max-width:520px;
}
.p-lover-content{
    max-width:520px;
}
.p-lover-content h2{
    font-size:3.1rem;
    padding-bottom:20px;
    font-weight: bold;
}
.p-lover-content li{
    font-size:1.42rem;
    color:rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
}

/* Latest Deals styles */
.latest-deals{
    
    text-align:center;
}
.latest-deals h2{
    font-size:3.1rem;
    font-weight:bold;
    margin-bottom:20px;
}
.latest-deals p{
    font-size:1.41rem;
    color:#8987A1;
    margin-bottom:10px;
}
.lt-continer{
    display: flex;
    gap:20px;
    color:#fff;
}
.lt-continer a{
    color:#fff;
}
.bloom{
    background-image: url(assets/deal-bloom.png);
    margin-bottom:20px;
    padding:70px;
    border-radius: 20px;
    
    
}
.ana{
    background-image: url(assets/deal-ana.png);
    padding:70px;
    border-radius: 20px;
}
.lt-inner-container-1{
    width:367px; 
}
.lt-inner-container-1 h5{
    font-size:20px;
    font-weight: bold;
}
.lt-inner-container-1 a{
    font-size: 16px;
}

.lt-inner-container-2{
    width:750px;
    background-image: url(assets/deal-zabo.png);
    padding:150px 0;
}
.lt-inner-container-2 h5{
    font-size:40px;
    font-weight: bold;
}
.lt-inner-container-2 a{
    font-size: 28px;
}

.join{
    width: 100vw;
    position: relative;
    left: 50%; 
    margin-left: -50vw; 
    background-image:url(assets/news-letter-bg.png);
    padding:150px 0;
    text-align:center;
    background-size: cover;
}
.join h2{
    color:#fff;
    font-size:4.2rem;
    margin-bottom:20px;
}
.join input{
    width:600px;
    padding:15px 10px;
}
.join button{
    width:186px;
    font-size:16px;
    font-weight: 600;
    background-color:#E95A08;
    border:none;
    color: #fff;
    padding:15px 0;
    margin-left:-5px;
}
footer{
    display:flex;
    padding:50px 0;
    justify-content: space-between;
}
footer .logo{
    width:355px;
}
footer li{
    list-style-type: none;
    padding:10px;
}
footer li a{
    text-decoration: none;
}
.logos img{
   padding:10px; 
}